<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083074786417-4vitmcdlu3bteb72qnssgn3mlc9ha2d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083074786417-4vitmcdlu3bteb72qnssgn3mlc9ha2d8</string>
	<key>API_KEY</key>
	<string>AIzaSyDYeqEf_ErMByhUEpY_aejYAHygR83pw1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1083074786417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hidetaka.f.matsumoto.remoteconfigtest</string>
	<key>PROJECT_ID</key>
	<string>remoteconfigtest-35aca</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfigtest-35aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083074786417:ios:1e7df40cc52f79bebb17d0</string>
</dict>
</plist>
